.top-filter {
    margin-top:32px;
    .search-calendar {
        margin-bottom:0;
        width:100%;
        .filter-wrapper {
            .filter-button {
                background-color: #fbfdfd;
                border: none;
                border-radius: 20px !important;
                margin-left:25px;
                -webkit-filter: none;
                filter: none;
                font-size: 1.2em;
                box-shadow: rgba(193, 193, 193, 0.4) 0px 5px 20px;
                height: auto;
                transition-duration: 0.3s;
                transition-property: background, box-shadow, transform;
                transition-timing-function: ease;
                cursor: pointer !important;
                transition: 0.3s ease-in-out all;
                min-width:178px;
                text-decoration: none;
                overflow:hidden;
                a {
                    color: #6c737a !important;
                    text-decoration: none;
                    text-align: left;
                    width: 100%;
                    height:100%;
                    display: block;
                    padding: 12px 12px 10px 25px;
                    &.active {
                        font-weight: 600;
                        background: rgb(118, 113, 113);
                        color: #fff!important;
                    }
                }
                    &:hover, &:active {
                        transition-duration: 0.15s;
                        box-shadow: rgba(193, 193, 193, 0.4) 0px 1px 3px;
                        background: rgba(0, 0, 0, 0.02);
                        outline: 0px;
                    }
            }
        }
    }
}
