footer {
    margin-top: 35px;
    padding-top: 75px;
    padding-bottom: 30px;
    background: linear-gradient(-183.96deg, #FCF3F4 2.01%, rgba(244, 224, 224, 0.2) 79.47%);
    border-radius: 80px 0 0 0;
    background-size:100% 100%;
    background-position: top center;
    background-repeat:no-repeat;
    .logo {
        margin-bottom: 35px;
    }
    ul.footer-menu {
        list-style: none;
        padding-left:0;
        margin:0;
        li {
            padding:1px 0;
            margin: 5px 0;
            a {
                text-decoration: none;
                font-size:15px;
                font-weight: 400;
                color:#767676;
                line-height: 150%;
                letter-spacing: 0.02em;
                transition:.2s ease-in-out all;
                &:hover {
                    color:#333;
                }
            }
        }
    }
    .subscribe-block {
        p {
            font-weight: bold;
            color: #6A515E;
            margin-bottom: 10px;
            font-size: 15px;
        }
        .input-group-prepend {
            top:0;
            right:2px;
            height: 100%;
            background: #1382e8;
            color: #fff;
            border-radius: 0 20px 20px 0;
            @include transitions();
            cursor:pointer!important;
            &:hover {
                background: #166ebe;
            }
            .btn-blue {
                color:#fff;
                font-weight: bold;
                cursor:pointer!important;
                border-top-left-radius: 0!important;
                border-bottom-left-radius: 0!important;
                font-size: 15px;
                padding-right: 25px;
            }
        }
        .input-message {
            span {
                margin-top: 15px;
                display: block;
                font-size: 14px;
                border-radius: 20px;
                padding: 11px 15px 10px;
                text-align: center;
                color: #fff!important;
                &.text-success {
                    background-color: #38c17296;
                }
                &.text-danger {
                    background-color: #e3342f9c;
                }
            }
        }
    }
    .copyright {
        margin-top: 20px;
        padding-top: 20px;
        a {
            color: #777777;
            font-size: 14px;
            span {
                color: #e9905b;
            }
            transition:.2s ease-in-out all;
            &:hover {
                color:#444;
                text-decoration:none;
                span {
                    color:#fe721f;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    footer {
        margin-top: 0;
        padding: 60px 25px 80px;
        background: #fbf3f3;
        position: relative;
        overflow: hidden;
        .logo {
            display: none;
        }
        .container>.row {
            @include flex-direction(column-reverse);
            .subscribe-block {
                margin-bottom:35px;
                p {
                    font-size:13px;
                }
            }
        }
        .copyright-wrapper {
            position:absolute;
            bottom:30px;
            left:25px;
            margin:0 auto;
            .row {
                justify-content:flex-start!important;
            }
        }
    }
}
