footer {
    margin-top: -100px;
    padding-top: 280px;
    padding-bottom: 60px;
    background-image: url(/css/icons/footer-mask.svg);
    background-size:100% 600px;
    background-position: top center;
    background-repeat:no-repeat;
    .logo {
        margin-bottom: 35px;
    }
    ul.footer-menu {
        list-style: none;
        padding-left:0;
        margin:0;
        li {
            padding:1px 0;
            margin:0;
            a {
                text-decoration: none;
                font-size:15px;
                font-weight: bold;
                color:#A897A0;
                line-height: 150%;
                letter-spacing: 0.02em;
                &:hover {
                    text-decoration: underline;
                    color:#555;
                }
            }
        }
    }
    .subscribe-block {
        p {
            font-weight: bold;
            color: #6A515E;
            margin-bottom: 10px;
            font-size: 15px;
        }
        .input-group-prepend {
            top:0;
            right:2px;
            height: 100%;
            background: #1382e8;
            color: #fff;
            border-radius: 0 20px 20px 0;
            @include transitions();
            cursor:pointer!important;
            &:hover {
                background: #166ebe;
            }
            .btn-blue {
                color:#fff;
                font-weight: bold;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    footer {
        margin-top: 0;
        padding: 60px 25px;
        background: #fbf3f3;
        .logo {
            display: none;
        }
        .container>.row {
            @include flex-direction(column-reverse);
            .subscribe-block {
                margin-bottom:35px;
                p {
                    font-size:13px;
                }
            }
        }
    }
}
