header {
    z-index:2;
    position: relative;
    padding:30px 0 0;
    .search {
        width:100%;
        .input-group {
            position:relative;

            #search-input {
                background-color: #f8f8f8;
                border: none;
                border-radius:20px;
                padding:13px 15px 10px;
                padding-left:35px;
                filter:none;
                font-size: 1.2em;
                box-shadow:none;
                height:auto;
                cursor:text!important;
                @include placeholder-color(#777);
                &:hover {
                    box-shadow: rgba(193, 193, 193, 0.4) 0px 1px 3px;
                }
                &:active, &:focus {
                    border:none;
                    box-shadow: rgba(193, 193, 193, 0.4) 0px 1px 3px;
                }
                @include transitions();
            }
            .input-group-prepend {
                position: absolute;
                right: 3px;
                top: 9px;
                z-index: 3;
                .input-group-text {
                    background-color:transparent;
                    border:none;

                }
            }
        }
        #search-results {
            display: none;
            position: absolute;
            width: 100%;
            padding: 12px 0;
            top: 60px;
            z-index: 999999999999;
            background: #fff;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 40px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    padding:4px 40px;
                    white-space: normal;
                    cursor: pointer;
                    opacity: 0.8;
                    &:hover {
                        opacity:1;
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        text-decoration: none;
                        padding: 4px 0px;
                        font-size:18px;
                        color:#000;
                        &.search-link {
                            color:#166ebe;
                        }
                    }
                }
            }
            .spinner-wrapper {
                @include flexbox();
                -webkit-box-pack: center;
                @include justify-content(center);
                @include align-items(center);
                padding: 25px;
                .spinner {
                    display: block;
                    position: relative;
                    width: 26px;
                    height: 26px;
                    animation: 1s linear 0s infinite normal none running rotating;
                    span {
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        overflow: hidden;
                        padding: 0px;
                        margin: 0px;
                        &:before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            box-sizing: border-box;
                            position: absolute;
                            top: 0px;
                            left: -50%;
                            border-radius: 100%;
                            border-style: solid;
                            border-width: 2px;
                            border-color: rgb(254, 243, 57);
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    .header-top-icons {
        @include flexbox();
        @include flex-direction(row);

        a {
            &.icon {
                border-radius: 100%;
                padding: 5px 15px;
                border-radius: 20px;
                box-sizing: border-box;
                text-decoration: none;
                @include align-items(center);
                @include flexbox();
                @include justify-content(center);
                &:hover {
                    background: #f1eeee;
                }
                &.profile-icon {
                    margin-right:-5px;
                }
            }
            cursor:pointer;
            svg {
                margin:0 auto;
            }
            &.wishlist-icon {
                padding-top: 7px;
                color: #333;
                font-size: 18px;
                svg {
                    margin-right:8px;
                    margin-top:-2px;
                }
            }
            &.dropdown-toggle:after {
                content:none;
            }
        }
        .dropdown-menu {
            width: 300px;
            padding: 25px 30px;
            border-radius: 12px;
            z-index: 999999;
            top: -40px!important;
            right: 0px!important;
            left: auto!important;
            box-shadow: rgba(0, 0, 0, 0.235) 0px 10px 40px;
            border:none;
            a {
                font-size:15px;
                padding: 0.3rem 1.5rem;
                color: #785272;
                &:hover {
                    color:#333;
                }
                &:active {
                    background-color:#fbf2f3
                }
            }
        }
    }
    .menu-wrapper {
        width:100%;
        .main-menu {
            margin-top:35px;
            li {
                margin-right: 40px;
                overflow:hidden;
                &:last-child {
                    margin-right:0;
                }
                a {
                    color:#6A515E;
                    font-size:16px;
                    font-weight:bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: .03em;
                    position:relative;
                    &:before {
                        content:'';
                        position:absolute;
                        transform:translateX(-100px);
                        width:100%;
                        bottom:0;
                        height:2px;
                        background-color:#333;
                        transition:.2s ease-in all;
                    }
                }
                &:hover a {
                    color:#333;
                    &:before {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
    .top-filter {
        margin-top:32px;
        .search-calendar {
            margin-bottom:0;
            width:100%;
            .filter-wrapper {
                .filter-button {
                    background-color: #fbfdfd;
                    border: none;
                    border-radius: 20px !important;
                    margin-left:25px;
                    -webkit-filter: none;
                    filter: none;
                    font-size: 1.2em;
                    box-shadow: rgba(193, 193, 193, 0.4) 0px 5px 20px;
                    height: auto;
                    transition-duration: 0.3s;
                    transition-property: background, box-shadow, transform;
                    transition-timing-function: ease;
                    cursor: pointer !important;
                    transition: 0.3s ease-in-out all;
                    min-width:178px;
                    text-decoration: none;
                    overflow:hidden;
                    a {
                        color: #6c737a !important;
                        text-decoration: none;
                        text-align: left;
                        width: 100%;
                        height:100%;
                        display: block;
                        padding: 12px 12px 10px 25px;
                        &.active {
                            font-weight: 600;
                            background: rgb(118, 113, 113);
                            color: #fff!important;
                        }
                    }
                        &:hover, &:active {
                            transition-duration: 0.15s;
                            box-shadow: rgba(193, 193, 193, 0.4) 0px 1px 3px;
                            background: rgba(0, 0, 0, 0.02);
                            outline: 0px;
                        }
                }
            }
        }
    }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
