header {
    z-index:2;
    position: relative;
    padding:30px 0 0;
    .search {
        width:100%;
        .input-group {
            position:relative;

            #search-input {
                background-color: #f8f8f8;
                border: none;
                border-radius:20px;
                padding:13px 15px 10px;
                padding-left:25px;
                filter:none;
                font-size: 1.2em;
                box-shadow:none;
                height:auto;
                cursor:text!important;
                @include placeholder-color(#777);
                &:active, &:focus {
                    border:none;
                }
                @include transitions();
            }
            .input-group-prepend {
                position: absolute;
                right: 3px;
                top: 10px;
                z-index: 3;
                .input-group-text {
                    background-color:transparent;
                    border:none;

                }
            }
        }
    }
    .header-top-icons {
        @include flexbox();
        @include flex-direction(row);

        a {
            &.icon {
                border-radius: 100%;
                padding: 5px 15px;
                border-radius: 20px;
                box-sizing: border-box;
                text-decoration: none;
                @include align-items(center);
                @include flexbox();
                @include justify-content(center);
                &:hover {
                    background: #f1eeee;
                }
                &.profile-icon {
                    margin-right:-5px;
                }
            }
            cursor:pointer;
            svg {
                margin:0 auto;
            }
            &.wishlist-icon {
                padding-top: 7px;
                color: #333;
                font-size: 18px;
                svg {
                    margin-right:8px;
                    margin-top:-2px;
                }
            }
            &.dropdown-toggle:after {
                content:none;
            }
        }
        .dropdown-menu {
            width: 300px;
            padding: 25px 30px;
            border-radius: 12px;
            z-index: 999999;
            top: -40px!important;
            right: 0px!important;
            left: auto!important;
            box-shadow: rgba(0, 0, 0, 0.235) 0px 10px 40px;
            border:none;
            a {
                font-size:15px;
                padding: 0.3rem 1.5rem;
                color: #785272;
                &:hover {
                    color:#333;
                }
                &:active {
                    background-color:#fbf2f3
                }
            }
        }
    }
    .menu-wrapper {
        width:100%;
        .main-menu {
            margin-top:35px;
            li {
                margin-right: 35px;
                &:last-child {
                    margin-right:0;
                }
                a {
                    color:#6A515E;
                    font-size:16px;
                    font-weight:bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: .03em;
                }
            }
        }
    }
    .top-filter {
        margin-top:32px;
        .search-calendar {
            margin-bottom:0;
        }
    }
}
