header {
    z-index:2;
    position: relative;
    padding:30px 0 0;
    .search {
        width:100%;
        .input-group {
            position:relative;

            input[name="search"] {
                background-color: #f8f8f8;
                border: none;
                border-radius:20px;
                padding:13px 15px 10px;
                padding-left:35px;
                filter:none;
                font-size: 1.2em;
                box-shadow:none;
                height:auto;
                cursor:text!important;
                @include placeholder-color(#777);
                &:hover {
                    box-shadow: rgba(193, 193, 193, 0.4) 0px 1px 3px;
                }
                &:active, &:focus {
                    border:none;
                    box-shadow: rgba(193, 193, 193, 0.4) 0px 1px 3px;
                }
                @include transitions();
            }
            .input-group-prepend {
                position: absolute;
                right: 3px;
                top: 9px;
                z-index: 3;
                .input-group-text {
                    background-color:transparent;
                    border:none;

                }
            }
        }
        .search-results {
            display: none;
            position: absolute;
            width: 100%;
            padding: 12px 0;
            top: 60px;
            z-index: 999999999999;
            background: #fff;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 40px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    padding:4px 40px;
                    white-space: normal;
                    cursor: pointer;
                    opacity: 0.8;
                    &:hover {
                        opacity:1;
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        text-decoration: none;
                        padding: 4px 0px;
                        font-size:18px;
                        color:#000;
                        &.search-link {
                            color:#166ebe;
                        }
                    }
                }
            }
            .spinner-wrapper {
                @include flexbox();
                -webkit-box-pack: center;
                @include justify-content(center);
                @include align-items(center);
                padding: 25px;
                .spinner {
                    display: block;
                    position: relative;
                    width: 26px;
                    height: 26px;
                    animation: 1s linear 0s infinite normal none running rotating;
                    span {
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        overflow: hidden;
                        padding: 0px;
                        margin: 0px;
                        &:before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            box-sizing: border-box;
                            position: absolute;
                            top: 0px;
                            left: -50%;
                            border-radius: 100%;
                            border-style: solid;
                            border-width: 2px;
                            border-color: rgb(254, 243, 57);
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    .header-top-icons {
        @include flexbox();
        @include flex-direction(row);

        a {
            &.icon {
                border-radius: 100%;
                padding: 5px 15px;
                border-radius: 20px;
                box-sizing: border-box;
                text-decoration: none;
                @include align-items(center);
                @include flexbox();
                @include justify-content(center);
                &:hover {
                    background: #f1eeee;
                }
                &.profile-icon {
                    margin-right:-5px;
                }
            }
            cursor:pointer;
            svg {
                margin:0 auto;
            }
            &.wishlist-icon {
                padding-top: 7px;
                color: #333;
                font-size: 18px;
                svg {
                    margin-right:8px;
                    margin-top:-2px;
                }
            }
            &.dropdown-toggle:after {
                content:none;
            }
        }
        .dropdown-menu {
            width: 300px;
            padding: 25px 30px;
            border-radius: 12px;
            z-index: 999999;
            top: -40px!important;
            right: 0px!important;
            left: auto!important;
            box-shadow: rgba(0, 0, 0, 0.235) 0px 10px 40px;
            border:none;
            a {
                font-size:15px;
                padding: 0.3rem 1.5rem;
                color: #785272;
                &:hover {
                    color:#333;
                }
                &:active {
                    background-color:#fbf2f3
                }
            }
        }
    }
    .menu-wrapper {
        width:100%;
        .main-menu {
            margin-top:35px;
            li {
                margin-right: 40px;
                overflow:hidden;
                &:last-child {
                    margin-right:0;
                }
                a {
                    color:#6A515E;
                    font-size:16px;
                    font-weight:bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: .03em;
                    position:relative;
                    &:before {
                        content:'';
                        position:absolute;
                        transform:translateX(-100px);
                        width:100%;
                        bottom:0;
                        height:2px;
                        background-color:#333;
                        transition:.2s ease-in all;
                    }
                }
                &:hover a {
                    color:#333;
                    &:before {
                        transform: translateX(0);
                    }
                }
                &.active a {
                    color:#0078df;
                }
            }
        }
    }

}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@include media-breakpoint-down(sm) {
    header {
        display:none;
    }
    header.mobile {
        z-index:99999;
        padding-top: 0px;
        display: block!important;

        .top-menu {
            padding: 15px 30px;
            background: linear-gradient(28.82deg, #db8888 20.7%, #4874a5 75.17%);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            width:100vw;
            .header-top-icons {
                width:100%;
                .hamburger-menu {
                    flex-grow: 2;
                    .hamburger {
                        height:28px;
                        width:44px;
                        display:block;
                        span {
                            width:44px;
                            height:4px;
                            background-color: #fff;
                            transition:.25s ease-in-out all;
                            border-radius: 2px;
                            transform-origin: center;
                            &:first-child {
                                width:85%;
                            }
                            &:last-child {
                                width:65%;
                            }

                        }

                    }
                }
                .icon {
                    background: #fff;
                    border-radius: 100%;
                    width: 38px;
                    height: 38px;
                    padding: 0;
                    margin-right:40px;
                    position: relative;
                    &.wishlist-icon {
                        svg {
                            margin:0;
                        }
                        span {
                            position: absolute;
                            right: -10px;
                            top: -2px;
                            font-size: 12px;
                            border-radius: 100%;
                            background: #337fd5;
                            color: #fff;
                            width: 18px;
                            height: 19px;
                            text-align: center;
                            padding-left: 1px;
                            margin: 0;
                            line-height: 21px;
                        }
                    }
                }
            }
        }


        a.logo-mobile {
            margin:0 auto;
            padding: 15px;
            svg {
                width:80px;
            }
        }
        a.logo {
            display:none;
        }
        .container>.row {
            flex-direction: column-reverse;
        }
        .search-wrapper {
            display:none;
            position: absolute;
            top: 80px;
            width: calc(100vw - 30px);
            left: -15px;
        }
        .search-results {

            ul {
                li {
                    a {
                        font-size:14px;
                    }
                }
            }
        }
        input[name="search"] {
            font-size:14px!important;
        }
        .top-filter {
            max-width: 100vw;
            overflow: auto;
            padding: 25px 0;
            margin: 0;
            .search-calendar {
                margin-bottom: 0;
                width: auto;
            }
        }

    }

    .logo-wrapper {
        margin-top: 80px;
    }

    .menu-wrapper {
        position: fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        transform:translateX(-100%);
        width: 100%;
        background: linear-gradient(0deg, #042250ad -0.12%, #5c5d69fa 100%);
        transition:.3s ease-in-out all;
        z-index: 3;
        .mobile-menu {
            height:100%;
            li {
                margin: 0px 30px;
                padding: 8px 0;
                a {
                    color: #ffffff;
                    font-size: 20px;
                }
            }
        }
    }
    .search-active {
        .main-content {
            filter:blur(10px);
            transition:.3s ease-in-out all;
            background: #ccc;
        }
        .logo-wrapper, footer {
            filter:blur(10px);
            transition:.3s ease-in-out all;
        }
    }
    .menu-opened {
        width:100vw;
        height:100vh;
        overflow:hidden;
        .menu-wrapper {
            transform:translateX(0);
        }
        .main-content, footer {
            filter:blur(10px);
            transition:.3s ease-in-out all;
        }
        .logo-wrapper {
            filter:blur(5px);
        }
        .hamburger {
            span {
                width:100%;
                transform: rotate(45deg) translate(0px, 0px);
                &:first-child {
                    width:44px!important;
                    transform: rotate(45deg) translate(8px, 9px);
                }
                &:last-child {
                    width:44px!important;
                    transform: rotate(-45deg) translate(8px, -8px);
                }
            }
        }
    }
}
