.hero-slider {
	position: relative;
	width: 100%;
	height: 476px;
	margin-bottom: 120px;
}
.slider-wall {
	position: absolute;
    top: -8px;
    right: 0;
    width: calc(1060px + (100vw - 1200px)/2);
    height: 835px;
    z-index: 1;
	img {
		width:100%;
		height:100%;
	}
}
@include media-breakpoint-down(lg) {
  .hero-slider {
    height: calc(100vw / 2.7);
  }
}

#slider {
	z-index: 1;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
    overflow:hidden;
    border-radius: 40px;

	div[data-slide-content] {
		display:none
	}

	canvas {
		width: 150%;
		height: 150%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}

	img {
		width: 100%;
		max-width: 100%;
		position: relative;
		z-index: 0;
	}
}

.slider-inner {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding:35px 101px;
	margin: 0 auto;
	z-index: 5;
	background-image: -webkit-linear-gradient(bottom, #02071c6b, #059be900);
	background-image: -o-linear-gradient(bottom, #02071c6b, #059be900);
	background-image: linear-gradient(to top, #02071c6b, #059be900);
}

#slider-content {
	height: 100%;

	#slide {
		height: 100%;
		& * {
			color:#fff;
		}

		.slide-header {
			@include flexbox();
	        @include flex-direction(row);
	        @include align-items(center);
			@include justify-content(flex-start);
			position: relative;

			.event__age-restriction {
				font-family: 'IntroBold', sans-serif;
				width:38px;
				height:38px;
				line-height:40px;
				background-image:url('/css/icons/age-restrictions.svg');
				background-size:contain;
				background-repeat: no-repeat;
				text-align: center;
				position: absolute;
				left: -70px;

				span {
					color:#fff;
					font-size:14px;
					font-weight:bold;
					margin-left:1px;
				}
			}
			.event__people_disabled {
				margin-left:25px;
				font-size:16px;
				svg {
					width:18px;
					height:18px;
					margin-right:5px;
				}
			}
			.event__type {
				font-size: 16px;
				color: #fff;
				vertical-align: middle;
				font-weight: 400;
				span {
					vertical-align: text-bottom;
					margin-right: 5px;
					svg {
						height:17px!important;
					}
				}
			}
			.event__tags {
				text-align: right;
				flex-grow: 1;
				a {
					color:#fff;
					text-decoration: none;
					font-size:18px;
					&:hover {
						text-decoration: underline;
						color:#eee;
					}
				}
			}
		}
		.slide-content {
			margin-top:75px;
			width:100%;
			.event__title {
				h2 {
					font-size:44px;
					color:#fff;
					margin-bottom:30px;
				}
			}
			.event__description {
				width:50%;
				p {
					color:#fff;
					font-size:18px;
					margin-bottom:32px;
					line-height: 1.2;
				}
			}
		}
		.slide-footer {
			.event__date {
				font-size:18px;
				.icon-calendar {
					margin-right:5px;
					vertical-align: text-bottom;
					svg path {
						fill:#fff;
					}
				}
			}
			.event__location {
				font-size:18px;
				margin-left:30px;
				.icon-location {
					margin-right:5px;
					vertical-align: text-bottom;
					svg path {
						fill:#fff;
					}
				}
			}
			.add-to-wishlist {
				background: rgba(255,255,255,.2);
				border-radius: 100%;
				height: 57px;
				width: 57px;
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				@include transitions();

				svg {
					margin-top:3px;
				}

				&.active {
					svg path {
						fill:#fff;
					}
				}

			    &:hover {
			        svg {
			            transform:scale(1.2);
			        }
			    }
			}
		}
	}
}

#pagination {
	position: absolute;
    bottom: 0;
    top: 0;
    z-index: 6;
    right: 30px;
	@include flexbox();
	@include justify-content(center);
	@include flex-direction(column);

	button {
		display: block;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		width: 8px;
		height: 8px;
		background-color: #F6EEF2;
		border-radius: 100%;
		padding: 0;
		margin-top: 15px;
		cursor: pointer;
		position: relative;
		opacity: 0.2;
		transition: opacity 0.2s ease-in-out;
		outline: none;

		&:hover {
			opacity: 0.5;
		}

		&.active {
			opacity: 1;

			&:before {
				width: 200%;
				height: 200%;
				opacity: 1;
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			border-radius: 100%;
			border: 1px solid rgba(255, 255, 255, 0.2);
			opacity: 0;
			transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
		}
	}
}

/* Page Loader */
.loading {

	&:before {
		content: '';
		position: fixed;
		z-index: 100000;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
	}

	&:after {
		content: '';
		position: fixed;
		z-index: 100000;
		top: 50%;
		left: 50%;
		width: 60px;
		height: 60px;
		margin: -30px 0 0 -30px;
		pointer-events: none;
		border-radius: 50%;
		opacity: 0.4;
		background: white;
		animation: loaderAnim 0.7s linear infinite alternate forwards;
	}
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

@include media-breakpoint-down(sm) {
	.hero-slider {
		height:440px;
		#pagination {
			position: absolute;
			z-index: 6;
			right: 0;
			left: 0;
			bottom: 25px;
			display: flex;
			-moz-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			-ms-flex-pack: center;
			-moz-flex-direction: column;
			flex-direction: row;
			top:initial;
			button {
				margin:0 5px;
			}
		}
		.slider-inner {
			padding:20px 20px 30px;
			canvas {
				height: 100%!important;
			}

			#slider-content {
				#slide {
					@include flexbox();
					@include flex-direction(column);
					@include align-items(space-between);
					@include justify-content(flex-start);

					.slide-header {
						.event__age-restriction {
							position: relative;
							left:0;
							margin-right:15px;
							span {
								font-size:12px;
							}
						}
						.event__type {
							flex-grow:1;
							flex-shrink: 0;
							margin-right:15px;
							font-size:12px;
						}
						.event__tags {
							a {
								font-size:12px;
								line-height: 1.2;
							}
							text-align:right;
						}
					}
					.slide-content {
						margin-top:35px;
						.event__title h2 {
							font-weight: 300;
							font-size: 24px;
							line-height: 110%;
							margin-bottom: 15px;
						}
						.event__description {
							width:100%;
							p {
								font-size:12px;
							}
						}
					}
					.slide-footer {
						.col, .row {
							height:100%;
							@include align-items(flex-end);
						}
						.event__date {
							font-size:14px;
							line-height:21px;
							width:100%;
						}
						.event__location {
							font-size:14px;
							line-height:21px;
							width:100%;
							margin-left:0;
							margin-bottom: 30px;
							margin-top:5px;
						}
						.event__accept {
							margin-left:0!important;
							width: calc(100vw - 165px);
							padding: 9px 30px 7px;
							.event-accept {
								font-size: 14px;
							}
							.event-angle {
								top: 9px;
								svg {
									width: 36px;
								}
							}
						}
						.add-to-wishlist {
							width:38px;
							height:38px;
							svg {
								margin-top: 2px;
								width: 18px;
								height: 18px;
							}
						}
					}
				}
			}
		}
		margin-bottom: 40px;
	}
}
