html {
    font-family: 'Circe', sans-serif;
    font-size:15px;
}


.input-group {
    position:relative;

    input, select {
        background-color:#ffffff;
        border:none;
        padding:9px 15px 7px;
        border-radius:20px!important;
        filter: drop-shadow(0 10px 15px #F8E6E6);
        box-shadow:none;
        cursor:pointer;
        @include placeholder-color(#C7ABBA);
        &:active, &:focus {
            filter: drop-shadow(0 12px 16px #eababa);
            border:none;
            box-shadow:none;
        }
        @include transitions();
    }
    .input-group-prepend {
        position:absolute;
        right:0;
        top:3px;
        .input-group-text {
            background-color:transparent;
            border:none;

        }
    }
}
