html {
    font-family: 'Circe', sans-serif;
    font-size:15px;
    body {
        background:#fff;
        transition:.3s ease-in-out all;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight:bold;
}
p {
    font-size:16px;
}
.main-content {
    margin-top:75px;
    overflow: hidden;
}
.invalid-feedback {
    font-size: 14px;
    margin-top: 5px;
    text-align: right;
}
.fake-row {
    margin-left:-15px;
    margin-right:-15px;
    width:115%;
    @include flexbox();
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
}
.btn {
    border-radius: 40px;
    width:100%;
    font-size:18px;
    font-weight:bold;
    height: 46px;
    color: #fcf4f4;
    cursor:pointer;
    &.btn-blue {
        background: #3c79e8;
    }
    &.btn-yellow {
        background: linear-gradient(28.82deg, #FF6868 20.7%, #FFCA6A 75.17%);
    }
    &.btn-link {
        color:#a06c8b;
        &:hover {
            text-decoration: underline;
        }
    }
}
.input-group {
    position:relative;

    input, select  {
        background-color: #fbfdfd;
        border: none;
        border-radius:20px!important;
        padding:13px 15px 10px;
        padding-left:25px;
        filter:none;
        font-size: 1.2em;
        box-shadow: rgba(193, 193, 193, 0.4) 0px 5px 20px;
        height:auto;
        transition-duration: 0.3s;
        transition-property: background, box-shadow, transform;
        transition-timing-function: ease;
        cursor:text!important;
        @include placeholder-color(#666);
        &:hover {
            box-shadow: rgba(193, 193, 193, 0.7) 0px 5px 20px;
        }
        &.range-input {
            cursor:pointer;
            padding-right: 35px;
        }
        &:active, &:focus {
            transition-duration: 0.15s;
            box-shadow: rgba(193, 193, 193, 0.4) 0px 1px 3px;
            background: rgba(0, 0, 0, 0.02);
            outline: 0px;
        }
        @include transitions();
    }
    .input-group-prepend {
        position: absolute;
        right: 3px;
        top: 12px;
        z-index: 3;
        .input-group-text {
            background-color:transparent;
            border:none;
            svg {
                path {
                    fill:#a9a7a7
                }
            }

        }
    }
}
.section-title {
    h2 {
        font-size:36px;
        font-weight:400;
        margin-bottom: 60px;
        line-height:1.5;
        color:#6A515E;
    }
}
.items-list {
    h2 {
        margin-bottom: 40px;
    }
    .item {
        position: relative;
        margin-bottom: 40px;

        .item-wrapper {
            box-shadow: 0px 10px 30px #FBEAEB;
            overflow:hidden;
            border-radius: 40px;
            position: relative;
            cursor:pointer;
            display:block;
            .item-link {
                position: absolute;
                width:100%;
                height:100%;
                z-index: 1;
            }
            .item-background {
                position:absolute;
                top:-1px;
                width:101%;
                height:100%;
                background-size:100%;
                background-position: center top;
                background-repeat: no-repeat;
                mask:url(/css/icons/Union.svg);
                -webkit-mask-size: contain;
                mask-size: contain;
            }
            @include transition();
        }
        .item-price {
            position:absolute;
            bottom:110px;
            right:-3px;
            border-radius:40px;
            background: linear-gradient(33.27deg, #FF6868 20.7%, #FFCA6A 75.17%);
            width:192px;
            height:44px;
            line-height:44px;
            text-align: center;
            font-size: 18px;
            font-weight:bold;
            color:#fff;
            z-index: 2;
            @include transition();
            text-decoration:none;
        }
        .item-image {
            padding:30px 25px 20px;
            min-height:216px;
            position: relative;
            background:linear-gradient(to bottom, #1261a7, #0e317100 50%);
            & * {
                color:#fff;
                    z-index:2;
            }
            svg {
                width:18px;
                margin-top:-2px;
            }
        }
        .item-content {
            padding:13px 40px 20px;
            .item-title {
                font-family: Circe;
                font-size: 18px;
                font-weight:bold;
                width:100%;
                text-align:center;
                line-height: 150%;
                margin-bottom:7px;
                color:#6A515E;
            }
            .item-info {
                font-size:14px;
                color:#A06784;
                svg {
                    vertical-align: middle;
                    path {
                        fill:#DABCCB
                    }
                }
                span {
                    margin-left:5px;
                    vertical-align: middle;
                    font-size:11px;
                }
                .item-date, .item-location {
                    flex-shrink: 0;
                }
            }
        }
        &:hover {
            .item-wrapper {
                box-shadow: 0px 15px 40px #bca4a6;
                transform: translateY(-5px);
            }
            .item-price {
                transform: translateY(-5px);
            }
        }

    }
}

@import 'slideset';
@import 'promo';

#concert {
    padding-bottom: 0;
}

#events {
    margin-top:30px;
    .item {
        margin-bottom:60px;
        .item-price {
            left:-3px;
            right:auto;
            font-weight: 400;
            font-size: 14px;
            color:#A06784;
            background:#fff;
            box-shadow: 0px 10px 30px rgba(106, 81, 94, 0.2);
        }
    }
    .readmore {
        display: none;
        font-size:18px;
        font-weight: bold;
        padding:15px 0 14px;
        text-align:center;
        background: linear-gradient(23.36deg, #FF6868 20.7%, #FFCA6A 75.17%);
        border-radius: 40px;
        width:100%;
        color:#fff;
        text-decoration: none;
    }
}
.homepage #events, .page #events {
    margin-top:120px;
}
.nopromo.page #events {
    margin-top:60px;
}

.no-items {
    font-size:18px;
    background: #fff1f1;
    padding: 25px!important;
    border-radius: 40px;
    p {
        margin:0;
    }
}
.event__people_disabled {
    svg {
        margin-top:-1px
    }
}
.add-to-wishlist {

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include transitions();
    &.added {
        svg path {
            fill: #eee;
            stroke: #eee;
        }
    }

    svg {
        margin-top:3px;
        transition:.15s ease-out all;
    }

    &.active {
        svg path {
            fill:#fff;
        }
    }
    &:hover {
        svg {
            transform:scale(1.2);
        }
    }
    cursor:pointer!important;
}
#event_header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 260px 0 100px;
    min-height: 800px;
    background-size:cover;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index:1;
        width: calc(100% + 1px);
        height: 260px;
        background: url(/css/icons/promo-clip-top.svg);
        background-size: 100% 260px;
        background-position: top center;
        background-repeat: no-repeat;
        opacity: 70%;
        -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
    }
    &:after {
        content:"";
        position: absolute;
        top:0;
        width:100%;
        min-height:100%;
        background:linear-gradient(180deg, rgba(0,0,0,.5), rgba(0,0,0,.2));
    }
	& * {
		color:#fff;
        z-index: 1;
	}

	.promo-header {
		@include flexbox();
        @include flex-direction(row);
        @include align-items(center);
		@include justify-content(start);
		position: relative;
		width:100%;

		.event__age-restriction {
			font-family: 'IntroBold', sans-serif;
			width:38px;
			height:38px;
			line-height:40px;
			background-image:url('/css/icons/age-restrictions.svg');
			background-size:cover;
			text-align: center;
            flex-shrink:0;

			span {
				color:#fff;
				font-size:14px;
				font-weight:bold;
				margin-left:1px;
			}
		}

        .event__people_disabled {
            margin-left:25px;
            font-size:16px;
            svg {
                width:18px;
                height:18px;
                margin-right:5px;
            }
        }
		.event__type {
            margin-left:30px;
			font-size: 18px;
			color: #fff;
			vertical-align: middle;
			font-weight: 400;
            flex-shrink:0;
			span {
				vertical-align: text-bottom;
				margin-right: 5px;
                svg {
                    height:17px!important;
                }
			}
		}
		.event__tags {
            flex-grow: 0;
            text-align: left;
            margin-left:35px;
			a {
				color:#fff;
				text-decoration: none;
				font-size:18px;
				&:hover {
					text-decoration: underline;
					color:#eee;
				}
			}
		}
	}
	.promo-content {
		margin-top:75px;
		width:100%;

        .event__organisator {
            font-size: 18px;
            padding-top: 20px;
            border-top: 1px solid #fff;
            width: initial;
            display: table;
        }
		.event__title {
			h2 {
				font-size:44px;
				color:#fff;
				margin-bottom:30px;
			}
		}
		.event__description {
			width:50%;
			p {
				color:#fff;
				font-size:18px;
				margin-bottom:32px;
				line-height: 1.2;
			}
		}
	}
	.promo-footer {
        width:100%;
        margin-top:50px;
		.event__date {
			font-size:18px;
			.icon-calendar {
				margin-right:5px;
				vertical-align: text-bottom;
				svg path {
					fill:#fff;
				}
			}
		}
		.event__location {
			font-size:18px;
			margin-left:0;
			.icon-location {
				margin-right:5px;
				vertical-align: text-bottom;
				svg path {
					fill:#fff;
				}
			}
		}
		.add-to-wishlist {
			background: rgba(255,255,255,.2);
			border-radius: 100%;
			height: 57px;
			width: 57px;
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);
			@include transitions();
            &.added {
                svg path {
                    fill: #eee;
                }
            }

			svg {
				margin-top:3px;
			}

			&.active {
				svg path {
					fill:#fff;
				}
			}
			&:hover {
			}
		}
	}
}
.event{
    header:not(.mobile) {
        margin-bottom:800px;
        .logo svg path {
            fill:#fff;
        }
        .header-top-icons a
        {
            &.wishlist-icon {
                color:#fff;
            }
            &:hover {
                background: rgba(255,255,255,.2)!important;
            }
            svg path {
                fill:#fff;
            }
        }
        .menu-wrapper .main-menu {
            li {
                a {
                    color:#fff;
                    &:before {
                        content:'';
                        position:absolute;
                        transform:translateX(-100px);
                        width:100%;
                        bottom:0;
                        height:2px;
                        background-color:#fff;
                        transition:.2s ease-in all;
                    }
                }
                &:hover a {
                    color:#fff;
                    &:before {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
    overflow-x: hidden;
    .main-content {
        h2 {
            font-size:42px;
            letter-spacing: 0.04em;
        }
        .content {
            .event-description {
                font-size: 20px;
                margin-top: 25px;
                p {
                    width:100%;
                    font-size:18px;
                }
            }
        }
        .schedule {
            border-top-left-radius: 80px;
            margin-top:120px;
            padding:150px 0 120px;
            background-color:#f9f9f9;
            .schedule-wrapper {
                padding: 50px 15px;
                margin-top: -1px;
                border-top:1px solid #bbb;
                border-bottom:1px solid #bbb;
                &:first-of-type {
                    margin-top:50px;
                }
                .date {
                    text-align: left;
                    display:block;
                    width:100%;
                    padding-left:15px;
                    .day {
                        font-size: 60px;
                        line-height: 55px;
                        float: left;
                        width: 76px;
                        display: block;
                        margin-left: -5px;

                    }
                    .month {
                        font-size: 28px;
                        line-height: 21px;
                        display: block;
                        margin-top: 7px;
                    }
                    .weekday {
                        min-height: 16px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 18px;
                        color: #999;
                        display: block;
                        margin-top: 4px;
                    }
                }
                .time {
                    width: 100%;
                    font-size: 28px;
                    text-align: left;
                    padding-left: 20px;
                }
            }
            .schedule-item {
                min-width:250px;
                &.time-item {
                    min-width:180px;
                }
                .location {
                    font-size:20px;
                    svg {
                        margin-right:5px;
                        transform: translateY(-2px);
                        path {
                            fill:#333;
                        }
                    }
                    text-align: center;
                }
                .ticket {
                    text-align:right;
                    a {
                        padding: 13px 45px 11px;
                        background: linear-gradient(28.82deg, #FF6868 20.7%, #FFCA6A 75.17%);
                        border-radius: 40px;
                        position: relative;
                        cursor: pointer;
                        margin-right: 25px;
                        color:#fff;
                        transition:.3s ease-out all;
                        text-decoration:none;
                        font-size:18px;
                        &:hover {
                            box-shadow: 0 2px 5px rgba(0,0,0,.3);
                        }
                    }
                }

                .price {
                    font-size:24px;
                    text-align: center;
                    &.free {
                        font-size:20px;
                    }
                }
            }
        }
        .similiar-events {
            padding: 150px 0 40px;
            h2 {
                margin-bottom:60px;
            }
            .item {
                margin-bottom:60px;
            }
        }
    }
}

.event__accept {
    width:300px;
    padding:15px 30px 13px;
    background: #ffffff;
    border-radius: 40px;
    position:relative;
    cursor:pointer;
    margin-right:25px;
    overflow: hidden;
    text-decoration: none!important;
    box-shadow: 0 0 30px rgba(0,0,0,.3);

    .event-accept {
        font-size:18px;
        font-weight:bold;
        color:#6A515E!important;
        text-decoration: none;
        position: relative;
        transition:.3s ease all;
        z-index:9;
    }

    .event-angle {
        position: absolute;
        right: 30px;
        top: 17px;
        transition: .3s ease-in-out all;
        svg path {
            fill:#6A515E;
            transition: .3s ease-in-out all;
        }
    }
    &:before {
        content:'';
        width:0;
        height:0;
        bottom:0;
        left:0;
        position:absolute;
        border-radius: 100%;
        background:linear-gradient(28.82deg, #FF6868 20.7%, #FFCA6A 75.17%);
        transition:.3s ease-out all;
    }
    &:hover {
        &:before {
            width: 350px;
            height: 350px;
            text-decoration: none;
            left: -20px;
            bottom: -80px;
            transform-origin: center center;
        }
        .event-accept {
            color:#fff!important;
        }
        .event-angle {
            position: absolute;
            top: 17px;
            svg path {
                fill:#fff;
            }
        }
    }

}

.profile {
    h3 {
        color:#D2BBC7;
        font-size:18px;
        width:100%;
    }
}
.alert-success {
    color: #828d87;
    background-color: #d7f3e3;
    border-color: #c7eed8;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}
.error {
    background:#f7f8f9;
    header .search .input-group input[name=search] {
        background-color: #ededed;
    }
    .error-404 {

        .fourohfour-gif {
            width: 100%;
            max-width: 473px;
            margin-bottom: 1.667rem;
        }
    }
}

.organisation {
    h1 {
        margin-bottom: 50px;
    }
    .company-description {
                    margin: 35px 0;
                    padding: 75px 0;
                    background: linear-gradient(164.51deg, #E4F4FF 19.35%, #DFF1FF 155.35%);
                    border-radius: 80px 0;
                    h2 {
                        margin-bottom: 20px;
                    }
                    p {
                        font-size:18px;
                    }
                }
    .company-property {
        padding-top:40px;
        h2 {
            margin-bottom: 35px;
        }
        table {
            width:100%!important;
            border-collapse:collapse!important;
            border:none!important;
            tr {
                &:nth-child(odd) {
                    background-color:#f9f9f9;
                }
                td {
                    font-size: 16px !important;
                    min-height: 50px !important;
                    vertical-align: center !important;
                    padding: 20px 35px;
                    text-align: left!important;
                    border-color:#ccc!important;
                    p {
                        margin-bottom:0!important;
                        text-align:left;
                    }
                }
            }
        }
    }
    .company-location {
        margin-top:120px;
        margin-bottom:120px;
    }
    .contact-form {
        margin-bottom:75px;
        form {
            width:100%;
            input {
                padding: 12px 15px 11px;
                padding-left:25px;
            }
            textarea {
                background-color: #fbfdfd;
                border: none;
                border-radius: 20px !important;
                padding: 12px 15px 10px;
                padding-left: 25px;
                -webkit-filter: none;
                filter: none;
                font-size: 1.2em;
                box-shadow: rgba(193, 193, 193, 0.4) 0px 5px 20px;
                height: auto;
                transition-duration: 0.3s;
                transition-property: background, box-shadow, transform;
                transition-timing-function: ease;
                cursor: text !important;
                transition: 0.3s ease-in-out all;
                max-height:160px;
                &:hover {
                    box-shadow: rgba(193, 193, 193, 0.7) 0px 5px 20px;
                }
                &:focus, &:active {
                    transition-duration: 0.15s;
                    box-shadow: rgba(193, 193, 193, 0.4) 0px 1px 3px;
                    background: rgba(0, 0, 0, 0.02);
                    outline: 0px;
                }
            }
        }
        h2 {
            position: relative;
            z-index: 1;
            color: #A06784;
        }
        .contact-form-message {
            width:100%;
            margin: 15px 0;
            .text-danger  {
                padding:15px;
                background-color: #e3342f9c;
                margin-top: 15px;
                display: block;
                font-size: 14px;
                border-radius: 20px;
                padding: 11px 15px 10px;
                text-align: center;
                color: #fff !important;
                span {
                    margin:5px 0;
                    width:100%;
                    display:block;
                }
            }
            .text-success {
                padding: 15px;
                width: 100%;
                display: block;
                color: #fff!important;
                background-color: #63c88e !important;
                border-color: #c7eed8;
                border-radius: 20px;
                padding: 15px 25px;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                span {
                    margin:5px 0;
                    width:100%;
                    display:block;
                }
            }
        }
    }
}
.comments {
    padding: 120px 0 130px;
    background-color: #efefef;
    h2 {
        margin-bottom:35px;
    }
}

.event-description {
    font-size: 20px;
    margin-top: 25px;
    p {
        width:100%;
        font-size:18px!important;
    }
}
